body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    max-width: 70%; /* Adjust the maximum width as needed */
    margin: 10px auto;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden; /* Prevent text overflow */
}


.box p {
    margin: 0; /* Remove default margin to prevent extra spacing */
    text-align: center; /* Center text within the box */
}

/* Media query for phones */
@media only screen and (max-width: 600px) {
    .box {
        max-width: 90%;
    }
}

/* Media query for PC Widescreen */
@media only screen and (min-width: 1025px) {
    button {
        font-size: 18px;
        padding: 12px 24px;
    }
}